*{
    font-family: Courier;
  } 

.app-header {
    height: 60px;
    line-height: 60px;
}

.app-header {
    font-size: 40px;
    padding-left: 5px;
    text-align: center;

}
.dash-spreadsheet .row {
    flex-wrap: nowrap;
}

.bootstrap_buton {
    font-size:32px;

}
.bootstrap_s_buton{
    font-size: 22 px;

    color : white;
}


.tab-style {
    width: inherit;
    border: none;
    background: white;
    padding-top: 0;
    padding-bottom: 0;
    height: 42px;
  }
  
  .selected-tab-style {
    width: inherit;
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px #004A96 solid;
    background: white;
    padding-top: 0;
    padding-bottom: 0;
    height: 42px;
  }