.app-header {
    height: 60px;
    line-height: 60px;
}

.app-header .app-header--title {
    font-size: 40px;
    padding-left: 5px;
    text-align: center;
    font-family: sans-serif;

}
.dash-spreadsheet .row {
    flex-wrap: nowrap;
  }

.app-custom-bg {
    /* The image used */
    background-image: url("2020/11-november/30-universities/assets/pexels-jessica-lewis-583846.jpg");